html body {



    width: 100%;
    height: 100%;
    border: none;
    margin: none;
    padding: none;
    box-sizing: border-box;
     
     


}

/* NAV */




#navDropDown {
    display: none;
}



#btnNav:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}

#btnNavAssinatura:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}


#btnNavPesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;



    width: 45px;
    height: 45px;



}

#btnNavPesquisa:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}


#btnNavIdioma:hover {
    color: rgb(0, 0, 0);
    background-color: white;



}



#btnNavIdioma p {
    margin: 0;


}

#btnNavIdioma {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;


}







#btnNavIdioma2 p {
    margin: 0;


}

#btnNavIdioma2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;


}




#menuDropDown p {
    margin: 0;

}






#menuDropDown {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;

}









#btnIdioma {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    text-align: left;


}

#btnIdioma:hover {
    color: rgb(0, 0, 0);
    background-color: white;



}



#btnConta {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    text-align: left;


}

#btnConta:hover {
    color: rgb(0, 0, 0);
    background-color: white;



}




#btnNavCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;


    width: 45px;
    height: 45px;

}


#btnNavCategoria:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}

#btnNavCategoria:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}



#btnNavConta {
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 80%;
    margin-right: 12px;


    width: 45px;
    height: 45px;


}

#btnNavConta:hover {

    background-color: white;

}

#btnNavPrime:hover {

    background-color: rgb(26, 152, 255)
}





.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}




#dropdown-menu {
    display: none;
    flex-wrap: wrap;



    margin: 1rem;
    border-radius: 12px;
    background-color: rgba(27, 27, 27, 0.925);
     


}



#dropdown-conta {
    display: none;

    margin: 1rem;
    border-radius: 12px;
    background-color: rgba(27, 27, 27, 0.925);



}

.seraQueVaiPraDireita {

    position: absolute;
    right: 0;
    z-index: 1;
     
    

}



.divIdioma {
    display: flex;
    flex-direction: column;
    margin: 1rem;


}

.conta {
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

#btnNavPrime {
    background-color: #157bcf;

}

#btnNavPrime p {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
     

}



/* NAV */









/* CENTRO */

 


.imagemFundo1 {
    position: relative;
    /* Establishes positioning context */
    display: flex;
    padding: 0;
    margin: 0;
    background-image: url(img/imagemFilmes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    width: 100%;
    height: 70vh;

    overflow: hidden;
     
     
     




     
}





.centro {
    position: absolute;
    


    display: flex;
    flex-direction: column;
    
     
     
     








    color: white;
    width: 55%;
    height: 100%;




    top: 0;
    /* Aligns to the top */
    left: 0;
    /* Aligns to the left */





    /* Align to the top */

    /* Align to the left */
    background-image: linear-gradient(to right, rgb(0, 0, 0)73%, rgba(0, 0, 0, 0.027) 100%);

}

/* 
.centro h2{
    font-size: 2.5vw;

}

.centro h5{
    font-size: 1.5vw;

}

.centro h6{
    font-size: 0.7vw;

}

.centro p{
     font-size: 0.8vw;
} */

.teste {
    position: absolute;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    word-wrap: break-word;
    top: 4vw;
    left: 3vw;
}

.teste2 {
    position: absolute;
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
    word-wrap: break-word;
    top: 4vw;
    left: 3vw;
}

.teste2 h1{
    margin-bottom: 20px;
}

.teste2 h5{
    margin-bottom: 45px;
}



/* .conteudoCentro{

    position: absolute;
     
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     
    
    margin-top: 70px;
    margin-left: 60px;
    width: 80%;

     
    
} */

#btnCentro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 121, 175);
    word-wrap: break-word;
    width:280px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  





}










.centro2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
     








}

.botoesCentro2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 13px;
    margin-bottom: 13px;
    

}




.logoCentro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}





.btnCentroLogo {
    display: flex;
    flex-wrap: wrap;

}

.btnCentroLogo img {
    margin: 0.2rem;
    width: 13vw;





}



.textoCentro2 {

    flex-direction: row;
    width: 40vw;
    margin-top: 30px;






}




.btnCentroLogo :hover {
    box-shadow: 0px 0px 17px 6px rgba(0, 0, 0), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}




















/* CENTRO */







/* CENTRO3 */

.imagemFundo3 {

    position: relative;
    /* Establishes positioning context */
    display: flex;
    padding: 0;
    margin: 0;
    background-image: url(img/imagemFilme2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 70vh;

    overflow: hidden;

}



.centro3 {
    position: absolute;
    display: flex;
    flex-direction: column;





    color: white;
    width: 55%;
    height: 100%;

    top: 0;
    /* Aligns to the top */
    right: 0;
    /* Aligns to the left */





    /* Align to the top */

    /* Align to the left */
    background-image: linear-gradient(to left, rgb(0, 0, 0)73%, rgba(0, 0, 0, 0.027) 100%);

}



/* .centro3 h1{
    font-size: 2.5vw;

}

.centro3 h5{
    font-size: 1.5vw;

} */

#btnCentro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 121, 175);
    word-wrap: break-word;




    text-align: center;









}

#btnCentro2{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  
}




.conteudoCentro3 {

    margin-top: 50px;
    margin-left: 90px;
    width: 90%;
}



/* CENTRO3 */





/* W */

.widgets {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    justify-content: space-evenly;




    word-wrap: break-word;

}



.w {

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    word-wrap: break-word;
    margin: 1rem;
    width: 100vw;

}

.w img {
    max-width: 100vw;


}








/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    background-color: rgb(34, 34, 34);


}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.links a {
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    color: rgb(105, 156, 204);

}








/* FOOTER */


#btnNavAssinatura {
    cursor: pointer;

}

#btnNavAssinatura img {
    pointer-events: none;

}





#btnNavPesquisa {
    cursor: pointer;

}

#btnNavPesquisa img {
    pointer-events: none;

}





#btnNavIdioma {
    cursor: pointer;

}

#btnNavIdioma img {
    pointer-events: none;

}








#btnNavCategoria {
    cursor: pointer;

}

#btnNavCategoria img {
    pointer-events: none;

}






#btnNavConta {
    cursor: pointer;

}

#btnNavConta img {
    pointer-events: none;

}


#dropdown-menuBtnNav {
    display: none;


}



@media (max-width: 987px) {

    .widgets {
        display: flex;
        width: 100%;
        background-color: white;
        justify-content: center;
        align-items: center;

        flex-direction: row;
        flex-wrap: wrap;




        word-wrap: break-word;

    }



    .w {

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        word-wrap: break-word;
        margin: 1rem;


    }

    .w img {
        max-width: 100vw;


    }


}





@media (max-width: 1155px) {

    #navNormal {
        display: none;
    }

    #navDropDown {
        display: flex;
    }


    #menuDropDown:hover {
        background-color: white;
        color: black;
         


    }

    .seraQueVaiPraEsquerda {

        position: absolute;
        z-index: 1;
        left: 0;

    }

    #dropdown-menuBtnNav {
        display: none;

        margin: 1rem;
        border-radius: 12px;
        background-color: rgba(27, 27, 27, 0.925);
    }

    .menuBtnNav {
        display: flex;
        flex-direction: column;
        margin: 1rem;

    }






    #btnNav2:hover {
        color: rgba(0, 0, 0, 0);
        background-color: white;

    }


    #btnNavAssinatura2 {
        color: white;


    }

    #btnNavAssinatura2:hover {
        color: rgb(0, 0, 0);
        background-color: white;

    }


    #btnNavPesquisa2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 80%;



        width: 45px;
        height: 45px;



    }

    #btnNavPesquisa2:hover {
        color: rgb(0, 0, 0);
        background-color: white;

    }


    #btnNavIdioma2:hover {
        color: rgb(0, 0, 0);
        background-color: white;



    }

    #btnIdioma2 {
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0);
        text-align: left;


    }

    #btnIdioma2:hover {
        color: rgb(0, 0, 0);
        background-color: white;



    }



    #btnConta2 {
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0);
        text-align: left;


    }

    #btnConta2:hover {
        color: rgb(0, 0, 0);
        background-color: white;



    }




    #btnNavCategoria2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 80%;


        width: 45px;
        height: 45px;

    }


    #btnNavCategoria2:hover {
        color: rgb(0, 0, 0);
        background-color: white;

    }

    #btnNavCategoria2:hover {
        color: rgb(0, 0, 0);
        background-color: white;

    }



    #btnNavConta2 {
        display: flex;

        justify-content: center;
        align-items: center;
        border-radius: 80%;
        margin-right: 12px;


        width: 45px;
        height: 45px;


    }

    #btnNavConta2:hover {

        background-color: white;

    }

    #btnNavPrime2:hover {

        background-color: rgb(26, 152, 255)
    }






}


@media (max-width: 513px) {

    .btnCentroLogo img {
        margin: 0.2rem;
        width: 30vw;





    }


    .textoCentro2 {

        flex-direction: row;
        width: 100vw;
        margin-top: 30px;
        text-align: center;






    }

    .botoesCentro2 {
        display: flex;
        align-items: center;
        justify-content: center;
    }




}


@media (max-width: 510px) {


    .links {
        display: flex;
        flex-wrap: wrap;
    }

}



@media (max-width: 379px) {

    .footer p {
        font-size: x-small;
    }

}


@media (max-width: 584px) {

    #navDropDown {
        width: 584px;
        float: left;
    }

    .imagemFundo1,
    .centro2,
    .imagemFundo3,
    .widgets,
    .footer {

        width: 584px;


    }




}




@media (max-height: 670px) {

    .imagemFundo1 {
        
        height: 500px;

        /* vh para efeito */
    
    
    }

    
}





@media (max-width: 724px) {

     

      
     

      #dropdown-menu{
        width: 550px; 
      }

      .divIdioma{
        margin: 0.5rem;
        
      }

      #rowToFit{
        display: flex;
        flex-direction: row;
      }

      #dropdown-menu button{
         
         
      }



    
}






@media (max-height: 400px) {

    .imagemFundo3{
        height: 370px;
    }

     

      
     

    

  
}











 

 









@font-face {
    font-family: "Amazon Ember Regular";
    src: url(font/Amazon\ Ember\ Display\ Medium.ttf);
  }

  @font-face {
    font-family: "Amazon Ember Heavy";
    src: url(font/Amazon\ Ember\ Heavy.ttf)
  }
  

.navbar button{
    background-color: transparent;
    border: 1px solid black;

}

#btnCentro, #btnCentro2{

    font-family: 'Amazon Ember Heavy',sans-serif;
    
}

.body button{
    font-family: 'Amazon Ember Regular',sans-serif;
}

#navDropDown,#navNormal{
    background-color: black;
    
     
}


 